.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top:8%;
  font-family: Arial, sans-serif;
}

.cart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 800px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.cart-image {
  flex: 1;
  max-width: 150px;
  margin-right: 20px;
}

.cart-image img {
  width: 100%;
  height: auto;
}

.cart-contents {
  flex: 2;
  padding: 15px;
}

.cart-contents p {
  margin: 5px 0;
}

.cart-contents button {
  background-color: #f0f0f0;
  color: #333;
  border: none;
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
}

.cart-contents button:hover {
  background-color: #333;
  color: white;
}

.cart-contents .remove-button {
  background-color: #ff6347;
  color: white;
}
.totalamount {
  margin-top: 20px;
}

.totalamount p {
  font-size: 18px;
}
.price-text{
  font-weight: 600;
  font-size: 17px;
}
.cart-text{
  font-weight: 600;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.totalamount h1 {
  color: #333;
  margin: 5px 0;
  text-align: center;
}
